---

---

ul.class-list {
   li:first-child div.yoga-class {
      padding-top: 1em;
   }

   li:last-child div.yoga-class {
      padding-bottom: 1em;
   }
}

div.yoga-class {
   padding: 1.5rem 7rem;
}

// Class image
div.radius {
   -webkit-border-radius: 25px;
   -moz-border-radius: 25px;
   border-radius: 25px;

   height: 20rem;
   width: 20rem;
   background-size: 20rem 20rem;
}

// Class body
div.class-body {
   height: 20rem;
   padding-left: 1rem;
}

div.class-body-column {
   width: 85%;
}

// Schedule
ul.class-schedule {
   width: 100%;
   padding-left: 0;

   list-style: none;
}

li.class-schedule {
   width: 100%;
}

div.class-schedule-day {
   width: 50%;
}

div.class-schedule-time {
   width: 50%;
}
