---

---

div.radius {
   -webkit-border-radius: 25px;
   -moz-border-radius: 25px;
   border-radius: 25px;

   height: 20rem;
   width: 20rem;
   background: url(../images/sun.jpg);
}

img.class-image {
   display: none;
   height: 20rem;
   width: 20rem;
}

// Layout
div.row {
   width: 100%;

   display: flex;
   justify-content: center;
   align-items: center;
}

div.column {
   height: 100%;

   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
