---

---

div.schedule-location-body {
}

// Jump to
div.jump-to {
   height: 3rem;
}

// Schedule

ul.schedule-column {
   list-style: none;

   padding-left: 0;
}

ul.schedule-times {
   list-style: none;

   padding-left: 0;
}

li.schedule-header-box {
   height: 2rem;

   font-size: 1.2rem;

   padding: 0.5rem;
}

li.schedule-box {
   height: 2.5rem;

   font-size: .8rem;

   padding: 0.25rem;
}

li.box-even {
   background-color: rgba(205, 88, 236, 0.16);
}

li.box-odd {
   background-color: rgba(0, 128, 0, 0.25);
}

div.schedule-text {
   text-align: center;
}

// Location
div.location {
   padding: 2rem 4rem;
   height: 25rem;
   width: inherit;
}

div.map {
   overflow: hidden;
   width: 85%;
   height: 25rem;
   resize: none;
   max-width: 100%;
}
