---
layout: page
title: Warrior Within Yoga Classes
style: classes
developer: Cody Boppert
description: Warrior Within Yoga Classes with description, insstructor, price, and times
url: classes
---

<ul class="class-list">
   {% for yogaClass in site.data.classes %}
   <li>
      <a name="#{{yogaClass.breaks}}"></a>
      <div class="yoga-class flex-column justify-center align-center">
         <div class="flex-row justify-center align-center">
            <div class="class-image radius flex-column flex-row justify-center align-center" style="background-image: url('{{yogaClass.picture}}')"></div>

            <div class="class-body flex-column flex-row justify-center align-center">
               <div class="class-body-column flex-column justify-center">
                  <div class="flex-row justify-center align-center">
                     <div class="class-title">
                        <h1>{{ yogaClass.title }}</h1>
                     </div>
                  </div>

                  <div class="class-description flex-row justify-center align-center">
                     <p>{{ yogaClass.description }}</p>
                  </div>
                  <div class="class-schedule flex-row justify-center align-center">
                     <ul class="class-schedule">
                     {% for time in yogaClass.times %}
                        <li class="class-schedule">
                           <div class="flex-row">
                              <div class="class-schedule-day flex-column justify-center align-center">{{ time.day }}</div>
                              <div class="class-schedule-time flex-column justify-center align-center">
                                 {% if time.time >= 12 %}{{ time.time | minus:12 }}PM {% else %}{{ time.time }}AM{% endif %}
                              </div>
                           </div>
                        </li>
                     {% endfor %}
                     </ul>
                  </div>

                  <div class="flex-row justify-center align-center">
                     <div class="class-instructor flex-column flex-row justify-center align-center">
                        <p>Instructor: <a href="/instructors.html#{{ yogaClass.instructor }}">{{ yogaClass.instructor }}</a></p>
                     </div>
                     <div class="class-price flex-column flex-row justify-center align-center">
                        <p>Price: ${{ yogaClass.price }}</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </li>
   {% endfor %}
</ul>
