---
layout: page
title: Warrior Within Yoga Classes
style: classes
developer: Cody Boppert
description: Warrior Within Yoga Classes with description, insstructor, price, and times
url: classes
---

<ul class="class-list">
   {% for yogaClass in site.data.classes %}
   <li>
      <div class="row">
         <div class="class-title">
            <h1>{{ yogaClass.title }}</h1>
         </div>
      </div>
      <div class="row">
         <div class="class-image radius column row"><img class="class-image" src="{{ yogaClass.picture }}" alt="{{ yogaClass.pictureDescription }}"></div>

         <div class="column row">
            <div class="row class-description">
               <p>{{ yogaClass.description }}</p>
            </div>
            <div class="row class-schedule">
               <ul class="class-schedule">
               {% for time in yogaClass.times %}
                  <li class="class-schedule">
                     <div class="class-schedule-day">{{ time.day }}</div>
                     <div class="class-schedule-time">{{ time.time }}</div>
                  </li>
               {% endfor %}
               </ul>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="class-instructor column row">
            <p>Instructor: <a href="/instructors.html#{{ yogaClass.instructor }}">{{ yogaClass.instructor }}</a></p>
         </div>
         <div class="class-price column row">
            <p>Price: ${{ yogaClass.price }}</p>
         </div>
      </div>
   </li>
   {% endfor %}
</ul>
