---
layout: page
description: Warrior Within Yoga - schedule and location
title: Warrior Within Yoga
developer: Cody Boppert
style: schedule-map
days: ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
times: [ 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18 ]
---

<div class="schedule-location-body flex-column">
   <div class="schedule flex-row justify-center">
      <a name="schedule"></a>
      <div class="flex-column justify-left">
         <ul class="schedule-times">
            <li class="schedule-header-box"></li>
            {% for time in page.times %}
               {% assign mod = time | modulo:2 %}
               <li class="schedule-box {% if mod == 0 %}box-even{% else %}box-odd{% endif %}">
                  <div class="schedule-time flex-row flex-column justify-center align-center">
                     {% if time > 12 %}{{ time | minus:12 }}
                     {% else %}{{ time }}
                     {% endif %}
                     {% if time >= 12 %}PM
                     {% else %}AM
                     {% endif %}
                  </div>
               </li>
            {% endfor %}
         </ul>
      </div>
      {% for day in page.days %}
         <div class="flex-column justify-center">
            <ul class="schedule-column">
               <li class="schedule-header-box">
                  <div class="schedule-day flex-row flex-column justify-center align-center">
                     {{day}}
                  </div>
               </li>
               {% for time in page.times %}
                  {% assign mod = time | modulo:2 %}
                  <li class="schedule-box {% if mod == 0 %}box-even{% else %}box-odd{% endif %} justify-center align-center">
                     {% for yogaClass in site.data.classes %}
                        {% for times in yogaClass.times %}
                           {% if times.day == day and times.time == time %}
                              <div class="schedule-text flex-row flex-column justify-center align-center">
                                 <a href="classes#{{yogaClass.breaks}}">{{yogaClass.title}}</a>
                              </div>
                              {% break %}
                           {% endif %}
                        {% endfor %}
                     {% endfor %}
                  </li>
               {% endfor %}
            </ul>
         </div>
      {% endfor %}
   </div>

   <div class="schedule-location-header flex-row justify-center">
      <h3 class="schedule-location-header">Location</h3>
   </div>
   <div class="location flex-row justify-center">
      <a name="location"></a>
         <div class="map">
            <div id="embedded-map-canvas" style="height:100%; width:100%;max-width:100%;">
               <iframe style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=Aurora,+Colorado&key=AIzaSyAN0om9mFmy1QN6Wf54tXAowK4eT0ZUPrU"></iframe>
            </div>
            <a class="code-for-google-map" rel="nofollow" href="http://www.dog-checks.com" id="get-data-for-embed-map">www.dog-checks.com</a>
            <style>#embedded-map-canvas .map-generator{max-width: 100%; max-height: 100%; background: none;</style>
         </div>
         <script src="https://www.dog-checks.com/google-maps-authorization.js?id=f1d201e2-5bcf-5ff0-ec16-dc2eb3d9f6b4&c=code-for-google-map&u=1462750112" defer="defer" async="async"></script>
   </div>
</div>
